body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
*:focus {
  outline-color: #ff7500;
  outline-offset: 3px;
  outline-width: 2px;
  outline-style: dashed;
}
/* Header */
.header {
  border-top: 5px solid #ff7500;
  width: 1450px;
  background-color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

}

.logo-site {
 width: 230px;
 transition: opacity 0.4s ease;
 display: block;
}

.logo-site:hover {
 opacity: 0.8;
}

.logo-site:active {
  opacity: 0.6;
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-link {
  display: flex;
  margin: 0;
}

/* Header nav*/
.header-nav {
 display: flex;
}

.header-nav ul {
  list-style: none;
}

/* Header link*/
.header-link {
 color: #000;
 font-size: 13px;
 font-family: "Roboto", "Arial", sans-serif;
 font-weight: 500;
 line-height: 15.23px;
 letter-spacing: 1px;
 text-decoration: none;
 text-transform: uppercase;
 transition: color 0.5s ease, opacity 0.5s ease;
 margin-left: 30px;
}

.header-link:hover {
  color: #ff7500;
}

.header-link:active {
  opacity: 0.6;
}

/* Header regstration*/
.header-registration {
 width: 155px;
 background-color: #ff7500;
 color: #fff;
 font-size: 13px;
 font-weight: 700;
 line-height: 15.23px;
 letter-spacing: 0.5px;
 text-align: center;
 text-decoration: none;
 font-family: "Roboto", "Arial", sans-serif;
 transition: opacity 0.5s ease;
 padding: 10px 20px 10px 20px;
 border-radius: 4px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 30px;
}

.header-registration:hover {
  opacity: 0.8;
}

.header-registration:active {
  opacity: 0.6;
}

/* Section one */
.widget {
  width: 1450px;
  background-color: #252420;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border: 0;
  margin: 0;
  margin-bottom: 40px;
}

/* Section one razmer */
.widget-item {
  width: 390px;
  height: 330px;
}

/* Section one sarlavha */
.widget-items {
 width: 500px;
 height: 96px;
 color: #fff;
 font-weight: 700;
 line-height: 48px;
 letter-spacing: 0.5px;
 font-family: "Roboto Condensed", "Arial", sans-serif;
 margin: 0;
 margin-bottom: 30px;
}

/* Section one matni */
.widget-itemes {
  width: 400px;
  height: 96px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: justify;
  margin: 0;
  margin-bottom: 20px;
}

.primary-buttom {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: opacity 0.5s ease;
}

.primary-buttom:hover {
  opacity: 0.8;
}

.primary-buttom:active {
  opacity: 0.6;
}

/* Section one order */
.widget-order {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
 }

.widget-img {
  object-fit: contain;
  border-radius: 8px;
}

.feauture {
  width: 1450px;
  padding-bottom: 210px;
  padding-top: 210px;
}

.line-1 {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border: 0;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 170px;
}
/* Section two content */
.content {
 width: 435px;
 height: 172px;
 font-weight: 700;
 font-size: 72px;
 line-height: 86.4px;
 letter-spacing: 0.5px;
 color: #000;
 font-family: "Roboto Condensed", "Arial", sans-serif;
 padding-left: 170px;
 margin: 0;
 margin-bottom: 40px;
}

.content-list{
  width: 1100px;
  height: 245px;
  display: flex;
  justify-content:space-around;
  padding-left: 170px;
  margin: 0;

}
/* Section two iconca */
  .iconc {
  width: 100px;
  height: 100px;
  background-color: #be8e6496;
  border-radius: 50%;
}

.iconc-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
/* Section two  */
.content-item {
 width: 340px;
 height: 245px;
}

.content-tex {
  width: 250px;
  height: 29px;
  font-family: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  color: #000;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.content-text {
 width: 314px;
 height: 72px;
 line-height: 1.2;
 letter-spacing: 0.5px;
 color: #000;
}

.action {
  width: 1450px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #252420;
  border-radius: 12px;
  margin: 0;
  margin-bottom: 40px;
}

.action-item {
 width: 440px;
 height: 291px;
}

.action-tex {
 width: 420px;
 height: 96px;
 font-weight: 700;
 font-size: 40px;
 line-height: 48px;
 letter-spacing: 0.5px;
 color: #fff;
 font-family: "Roboto Condensed", "Arial", sans-serif;
}

.actiont-text {
 width: 440px;
 height: 108px;
 font-size: 16px;
 line-height: 1.2;
 letter-spacing: 0.5px;
 color: #fff;
}

.action-img {
  object-fit: contain;
  border-radius: 20px;
}

.action-strong {
  font-family: "Roboto", "Arial", sans-serif;
  color: #ff7500;
}

.footer {
  width: 1450px;
  background-color: #F8F8F8;
}

.footer-nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.web {
  display: flex;
  justify-content:space-around;
  margin: 0;
}

.web-img {
  color: #252420;
  transition: color 0.5s ease, opacity 0.5s ease;
  margin: 0;
  margin-left: 30px;
  display: block;
}

.web-img:hover {
  color: #ff7500;
}

.web-img:active {
 opacity: 0.6;
}

.social {
  display: block;
}

.footer ul {
  list-style: none;
}
.hero-line {
  width: 1100px;
 background-color: rgba(37, 36, 32, 0.5);
 height: 2px;
 border: 0;
 margin: 0;
 margin-left: 70px;
 margin-top: 10px;
}

.footer-item {
  width: 1100px;
  display: flex;
  justify-content: space-around;
}

.footer-text a {
  line-height: 18.87px;
  color: #252420;
  text-decoration:none;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.footer-text a:hover {
  color: #ff7500;
}

.footer-text a:active {
  opacity: 0.6;
}
